{{> navigation}}

<content>
    <div id="wrapper">
        <div id="comments">
            <div>
                <div id="flex">
                    <img src="https://i.imgur.com/MQcuk3n.jpg" alt="Profile pic" id="profilePic">
                    <div class="comment">
                        <textarea id="commentTextarea" rows="4" cols="50" placeholder="Type your comment here... "></textarea>
                    </div>
                </div>
                <button id="commentButton" type='submit' value='Submit'>Send</button>
            </div>
            <br>
            <br>
            <div class="line2"></div>
            <br>
            <div id="commentList">
            </div>
        </div>
    </div>
</content>

{{#section 'style'}}
<link href="/static/css/commentList.css" rel="stylesheet" />
{{/section}}

{{#section 'script'}}
<script src="/static/js/comment.js"></script>
{{/section}}