{{> navigation}}

<content>
    <div id="wrapper">
        <div id="comments">
            <div class="commentlist">
                {{#each list}}
                <div>
                    <div id="flex">
                        <img src="https://i.imgur.com/MQcuk3n.jpg" alt="Profile pic" id="profilePic">
                        <p id="username">{{displayName}}</p>
                    </div>
                    <p id="commentText">{{text}}</p>
                    <span id="time">{{createdAt}}</span>
                    <br>
                    <div class="line"></div>
                    <br>
                </div>
                {{/each}}
            </div>

            <div id="flex">
                <img src="https://i.imgur.com/MQcuk3n.jpg" alt="Profile pic" id="profilePic">
                <div class="comment">
                    <textarea id="commentTextarea" rows="4" cols="50" placeholder="Type your comment here... "></textarea>
                </div>
            </div>
            <button type='submit' value='Submit'>Send</button>
        </div>
    </div>
</content>

{{#section 'style'}}
<link href="/static/css/commentList.css" rel="stylesheet" />
{{/section}}