{{> navigation}}

<content>
  <div class="modal editPost">
    <h2>Create a new post</h2>

    <label class="input file">
      <input type="file" accept=".png,.jpg,.jpeg,.webm,.mp4" multiple />
      <div class="help">
        <span class="mdi mdi-file-download"></span>
        <p>.png .jpg .jpeg .mp4 .webm</p>
      </div>
    </label>

    <div class="gallery">
      <div class="empty"></div>

      <span class="message">
        <span class="mdi mdi-information-outline"></span>
        Upload something to get started!<br />You can upload up to 8 items.
      </span>
    </div>

    <label for="text">Text</label>
    <input id="text" name="text" type="text" />

    <div class="sink">
      <button type="submit">Publish</button>
      <a href="/" class="button secondary">Cancel</a>
    </div>
  </div>
</content>

{{#section 'style'}}
<link href="/static/css/post.css" rel="stylesheet" />
{{/section}}

{{#section 'script'}}
<script src="/static/js/post.js"></script>
{{/section}}