{{> navigation}}

<content>
  <div class="modal post">
    <label class="input file">
      <input type="file" />
      <div class="help">
        <span class="mdi mdi-file-download"></span>
        <p>.png .jpg .jpeg .mp4</p>
      </div>
    </label>
  </div>
</content>

{{#section 'style'}}
<link href="/static/css/post.css" rel="stylesheet" />
{{/section}}

{{#section 'script'}}
<script src="/static/js/post.js"></script>
{{/section}}