{{> navigation}}

<content>
  <div class="modal editPost">
    <h2>Create a new post</h2>

    <label>Media</label>
    <label class="input file">
      <input type="file" accept=".png,.jpg,.jpeg,.webm,.mp4" multiple />
      <div class="help">
        <span class="mdi mdi-file-download"></span>
        <p>.png .jpg .jpeg .mp4 .webm</p>
      </div>
    </label>

    <div class="gallery">
      <div class="empty"></div>

      <span class="message">
        <span class="mdi mdi-information-outline"></span>
        Upload something to get started!<br />You can upload up to 8 items.
      </span>
    </div>

    <label for="text">Text</label>
    <div class="textarea">
      <textarea id="text" name="text" cols="3"></textarea>
      <div class="highlight"></div>
    </div>

    <label>Location</label>
    <div id="map"></div>

    <input id="place" name="place" placeholder="🔎 Search for a place..." />
    <ul id="list">
      <span class="message">
        <span class="mdi mdi-information-outline"></span>
        Search for a general location of this post.<br />You can also click on the map to add a custom location.
      </span>
    </ul>

    <div id="error" style="display: none;"></div>

    <div class="sink">
      <button type="submit" disabled>Publish</button>
      <a href="/" class="button secondary">Cancel</a>
    </div>
  </div>
</content>

{{#section 'style'}}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" />
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.css' rel='stylesheet' />
<link href="/static/css/post.css" rel="stylesheet" />
{{/section}}

{{#section 'script'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.js"></script>
<script src="https://cdn.klokantech.com/mapbox-gl-js/v0.43.0/mapbox-gl.js"></script>
<script src="https://cdn.klokantech.com/mapbox-gl-leaflet/latest/leaflet-mapbox-gl.js"></script>

<script>
  window.mapKey = '{{{mapKey}}}';
</script>

<script src="/static/js/editPost.js"></script>
<script src="/static/js/map.js"></script>
{{/section}}