{{> navigation}}

<content>
  <div class="modal editPost">
    <h2>Create a new post</h2>

    <label>Media</label>
    <div id="upload"></div>

    <label for="text">Text</label>
    <div class="textarea">
      <textarea id="text" name="text" cols="3"></textarea>
      <div class="highlight"></div>
    </div>

    <label>Location</label>
    <div id="map"></div>

    <input id="place" name="place" placeholder="🔎 Search for a place..." />
    <ul id="list">
      <span class="message">
        <span class="mdi mdi-information-outline"></span>
        Search for a general location of this post.
      </span>
    </ul>

    <div id="error" style="display: none;"></div>

    <div class="sink">
      <button type="submit" disabled>Publish</button>
      <a href="/" class="button secondary">Cancel</a>
    </div>
  </div>
</content>

{{#section 'style'}}
<link href="/static/css/post.css" rel="stylesheet" />
{{/section}}

{{#section 'script'}}
<script>
  window.mapKey = '{{{mapKey}}}';
</script>

<script src="/static/js/map-bundle.js"></script>
<script src="/static/js/uploader.js"></script>
<script src="/static/js/editPost.js"></script>
<script src="/static/js/map.js"></script>
{{/section}}