{{> navigation}}

<content>
  <div id="wrapper">
    <div class="feed">
      {{#each posts}}
      <div class="post">
        <p>{{text}}</p>
        <span>{{createdAt}}</span>
        <a href="/{{username}}/{{postID}}">View</a>
      </div>
      {{/each}}
    </div>
  </div>



</content>