@import 'util';

#profilePic {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  margin: 10px 0 0 0;
}

#username {
  color: $color-primary;
  font-family: $font-family-body;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 10px;
}

#deleteComment {
  display: flex;
  margin-left: auto;
  color: $color-primary;
  margin-top: 15px;
  margin-bottom: 0;
}

#deleteComment :hover {
  color: $color-secondary;
  cursor: pointer;
}

#commentText {
  color: $color-black;
  font-family: $font-family-body;
  margin-top: 1px;
  margin-bottom: 5px;
  width: 420px;
  word-wrap: break-word;
}

#time {
  color: $color-dimgray;
  font-family: $font-family-body;
  font-size: 13px;
}

.line {
  box-shadow: 0px 1px $color-secondary;
  padding: 0 0 10px 0;
  width: 80%;
  float: right;
}

.line2 {
  box-shadow: 0px 1px $color-black;
  padding: 0 0 10px 0;
  width: 100%;
  float: right;
}

#flex {
  display: flex;
  flex-wrap: nowrap;
}

.commentBox {
  margin-left: 10px;
  margin-top: 10px;
  width: 100%;
}

#commentTextarea {
  margin-bottom: 10px;
  resize: none;
}
