@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700|Lato:400,700');
@import url('https://cdn.materialdesignicons.com/2.8.94/css/materialdesignicons.min.css');

@import 'util';
@import 'button';

body {
  margin: 0;
  background-color: $color-gray;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $font-family-header;
  color: $color-black;
}

textarea,
input {
  display: block;
  margin: 0 0 24px 0;
  padding: 10px;
  width: 100%;
  font-family: $font-family-body;
  font-size: 0.9rem;
  border-radius: 3px;
  border: 2px solid $color-dark;
  background-color: $color-white;
  color: $color-black;
  outline: none;

  box-sizing: border-box;

  transition: border $animation-easing $animation-time;

  &:focus {
    border-color: $color-primary;
  }
}

textarea {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  min-height: 41px;
  max-height: 300px;
}

.textarea {
  position: relative;

  textarea {
    position: relative;
    background-color: transparent;
    z-index: 1;
  }

  .highlight {
    position: absolute;
    padding: 10px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: $font-family-body;
    font-size: 0.9rem;
    border-radius: 3px;
    border: 2px solid transparent;
    color: transparent;
    z-index: 0;

    white-space: pre-wrap;
    word-wrap: break-word;

    overflow: auto;
    box-sizing: border-box;

    span {
      background-color: rgba($color-primary, 0.25);
      border-radius: 2px;
    }
  }
}

.input.file {
  position: relative;
  width: 100%;
  height: 128px;
  border: 2px dashed $color-dimgray;
  border-radius: 3px;
  cursor: pointer;

  box-sizing: border-box;

  transition: background-color $animation-easing $animation-time,
    border $animation-easing $animation-time;

  &:hover {
    .help span {
      transform: translateY(4px);
    }
  }

  &.drag {
    border: 2px solid $color-primary;
    background-color: $color-primary;

    .help {
      span {
        color: $color-white;

        transform: translateY(4px);
      }

      p {
        color: rgba($color-white, 0.5);
      }
    }
  }

  input {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    z-index: 1;

    display: none;
  }

  .help {
    position: absolute;
    top: 36px;
    width: 100%;
    text-align: center;
    font-family: $font-family-body;
    font-size: 0.7rem;
    font-weight: bold;
    z-index: 2;
    pointer-events: none;

    span {
      display: block;
      position: relative;
      font-size: 1.8rem;
      color: $color-primary;

      transition: color $animation-easing $animation-time,
        transform $animation-easing $animation-time;
    }

    p {
      margin: 8px 0 0 0;
      color: $color-dimgray;

      transition: color $animation-easing $animation-time;
    }
  }
}

label {
  display: block;
  margin: 0 0 6px 0;
  text-align: left;
  font-family: $font-family-body;
  font-size: 0.8rem;
}

.page {
  &.full {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    text-align: center;

    .logo {
      margin: 15vh 0 32px 0;
      width: 100%;
      height: 40px;
      background-repeat: no-repeat;
      background-image: url('/static/img/logo_white.svg');
      background-position: center;
      background-size: auto 100%;
    }
  }
}

.modal {
  margin: 32px auto 0 auto;
  padding: 32px;
  width: 300px;
  border-radius: 4px;
  background-color: $color-white;

  @include shadow;

  %glyph {
    content: '';
    display: block;
    flex: 1;
    margin: 4px 0 0 0;
    height: 16px;
    background-size: auto 100%;
    background-position: 60% 0;
    background-repeat: no-repeat;
    background-image: url('/static/img/havu.svg');
  }

  h2 {
    display: flex;
    margin: 8px 0 (32px + 8px) 0;
    align-items: center;

    &:before {
      @extend %glyph;
    }

    &:after {
      @extend %glyph;
      transform: scaleX(-1);
    }
  }

  #error {
    margin: 0 0 24px 0;
    padding: 8px 12px;
    text-align: left;
    font-family: $font-family-body;
    font-size: 0.7rem;
    border: 2px solid $color-error;
    border-radius: 3px;
    font-weight: bold;
    color: $color-error;

    box-sizing: border-box;
  }

  > .sink {
    padding: 8px 0 0 0;
    height: 36px;
  }
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 400px;
  height: 80px;
  background-color: $color-white;

  box-sizing: border-box;

  .logo {
    position: relative;
    width: 160px;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url('/static/img/logo.svg');
    background-position: center;
    background-size: 100%;
    z-index: 2;
  }

  .search {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;

    input {
      margin: 20px auto 0 auto;
      padding-left: 16px;
      width: 300px;
      border-radius: 32px;
      border-color: $color-gray;
    }
  }

  .profile {
    position: relative;
    z-index: 2;

    .image {
      width: 32px;
      height: 32px;
      background-size: 100%;
      border-radius: 50%;
    }
  }
}
#wrapper {
  display: flex;
  justify-content: center;
  margin: 1px;
}

.feed {
  font-family: $font-family-body;
  display: flex;
  flex-flow: column;
  flex-basis: 300px;
  align-items: center;
  border-radius: 3px;

  .post {
    display: flex;
    flex-flow: column;
    @include shadow;
    padding: 0px 0 16px 0;
    align-items: center;
    background-color: $color-white;
    margin-bottom: 8px;
    border-radius: 4px;
    overflow: hidden;
  }

  #postLink {
    text-decoration: none;
    color: inherit;
    padding: 0 16px;
  }

  #image {
    width: 300px;
    height: 300px;
    background-size: cover;
    background-position: center;
  }
}
