@import 'util';

.post {
  position: relative;
  margin-bottom: 32px;
  padding: 0;
  width: 450px;
  overflow: hidden;

  .gallery {
    position: relative;
    width: 100%;

    &:hover {
      .control,
      .view {
        opacity: 1;
      }
    }

    .control {
      position: absolute;
      top: 50%;
      left: 16px;
      width: 32px;
      height: 32px;
      text-align: center;
      line-height: 32px;
      border-radius: 50%;
      background-color: rgba($color-white, 0.75);
      color: $color-dark;
      opacity: 0.5;
      cursor: pointer;
      z-index: 1;

      transform: translateY(-50%);

      @include shadow;

      transition: opacity $animation-easing $animation-time;

      &.right {
        left: auto;
        right: 16px;
      }
    }

    .view {
      position: absolute;
      padding: 0 10px 0 (8px + 4px + 16px);
      bottom: 16px;
      left: 50%;
      margin: auto;
      height: 32px;
      font-family: $font-family-body;
      font-size: 0.8rem;
      line-height: 32px;
      border-radius: 32px;
      background-color: rgba($color-black, 0.75);
      color: $color-white;
      opacity: 0;
      z-index: 1;
      user-select: none;
      cursor: pointer;

      transform: translateX(-50%);

      transition: opacity $animation-easing $animation-time * 2;

      > span {
        position: absolute;
        left: 8px;
        font-size: 16px;
      }
    }

    .container {
      position: relative;
      padding-top: 100%;
      width: 100%;
    }

    .list {
      position: absolute;
      display: flex;
      flex-wrap: nowrap;
      top: 0;
      left: 0%;
      margin-left: 0%;
      width: 100%;
      height: 100%;

      transition: left $animation-easing $animation-time * 2;
    }

    .container {
      position: relative;
      flex-shrink: 0;
      width: 100%;
    }

    .media {
      position: relative;
      flex-shrink: 0;
      width: 100%;
      text-align: center;

      .image {
        position: relative;
        padding-top: 100%;
        width: 100%;
        background-size: 100% auto;
        background-position: center;
        background-repeat: no-repeat;
      }

      .video {
        position: relative;
        padding-top: 100%;
        width: 100%;
        background-color: black;

        video {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .location {
    position: relative;
    display: flex;
    align-items: center;
    height: 100px;
    background-size: cover;
    background-position: center;

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
          90deg,
          rgba($color-primary, 0.9) 10.33%,
          rgba($color-primary, 0) 100%
        ),
        linear-gradient(
          0deg,
          rgba($color-primary, 0.75),
          rgba($color-primary, 0.5)
        );
      z-index: 0;
    }

    .icon {
      position: relative;
      width: 64px - 8px;
      height: 100%;
      text-align: right;
      line-height: 100px;

      > span {
        font-size: 32px;
        color: $color-white;
      }
    }

    .info {
      position: relative;
      flex: 1;
      margin: 0 0 0 16px;
      padding: 0;
      font-family: $font-family-body;

      p {
        font-size: 1.1rem;
        font-weight: bold;
        color: $color-white;
      }

      small {
        font-size: 0.7rem;
        color: rgba($color-white, 0.75);
      }
    }
  }

  a {
    text-decoration: none;
  }

  .user {
    display: flex;
    align-items: center;
    padding: 16px 32px 16px 16px;

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 64px;
      height: 64px;

      .image {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: $color-gray;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-image: url('/static/img/unknown.png');
      }
    }

    .info {
      display: flex;
      flex: 1;
      padding: 0;
      font-family: $font-family-body;

      a {
        display: block;
        padding: 0 16px 0 0;
      }

      p {
        margin: 0;
        font-size: 0.9rem;
        color: $color-black;
      }

      small {
        font-size: 0.7rem;
        color: $color-dimgray;
      }
    }

    .follow {
      padding: 0 9px 0 (8px + 16px + 1px);
      background-color: $color-primary;
      border-color: $color-primary;
      color: $color-white;

      &.unfollow {
        background-color: transparent;
        border-color: $color-gray;
        color: $color-dark;

        &:hover {
          border-color: $color-primary;
        }
      }

      .mdi {
        left: 5px;
      }
    }
  }

  hr {
    margin: 0;
    height: 2px;
    background-color: $color-gray;
    border: none;
  }

  .react {
    position: absolute;
    display: flex;
    right: 32px;
    bottom: 32px;
    height: 24px;

    .mine {
      padding: 1px 2px;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      border: 2px solid $color-primary;
      user-select: none;
      cursor: pointer;

      box-sizing: border-box;

      transition: transform $animation-easing $animation-time;

      &:hover {
        transform: translateY(-1px);
      }
    }

    .list {
      position: relative;
      padding-right: 8px + 6px;
      line-height: 24px;
      user-select: none;

      transition: padding-right $animation-easing $animation-time;

      img {
        margin-right: -6px;

        transition: margin-right $animation-easing $animation-time;
      }

      &:hover {
        padding-right: 6px;

        img {
          margin-right: 2px;
        }
      }

      > .amount {
        position: absolute;
        margin-top: 1px;
        left: 0;
        text-align: right;
        font-family: $font-family-body;
        font-size: 0.7rem;
        letter-spacing: normal;
        color: $color-dark;

        > span {
          position: absolute;
          padding: 0 6px 0 0;
          right: 0;
        }
      }
    }

    .add {
      line-height: 21px;
      color: $color-dark;

      &:hover {
        border-color: $color-primary;
      }
    }
  }

  .info {
    display: block;
    padding: 32px;
    font-family: $font-family-body;
    text-decoration: none;

    p {
      margin: 0;
      color: $color-black;
      white-space: pre-wrap;
      word-wrap: break-word;

      a {
        font-weight: bold;
        color: $color-primary;
      }
    }

    .time {
      margin: 16px 0 0 0;
      font-size: 0.7rem;
      color: $color-dimgray;
    }

    div {
      margin-left: 295px;
    }
  }

  .reports {
    padding: 32px;
  }
}

.add-react {
  display: none;
  margin: 8px 0 0 0;
  z-index: 10;

  transform: translateX(-50%);

  > div {
    padding: 0 7px;
  }

  > div:not(:last-child) {
    border-right: 2px solid $color-gray;
  }

  > div > span {
    display: inline-block;
    padding: 7px 4px;
    width: 24px;
    height: 32px;
    user-select: none;
    cursor: pointer;

    box-sizing: border-box;

    transition: transform $animation-easing $animation-time;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.modal.editPost {
  position: relative;
  margin-bottom: 32px;
  width: 450px;

  .input.file {
    margin-bottom: 16px;
  }

  .gallery {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    margin-bottom: calc(16px - 2%);
    width: 102%;

    .empty {
      margin-right: 0;
      margin-bottom: 2%;
      padding-top: 23%;
      width: 0;
    }

    > div {
      position: relative;
      margin-right: 2%;
      margin-bottom: 2%;
      padding-top: 23%;
      width: 23%;
      border-radius: 3px;
      background-size: 32px;
      background-color: $color-gray;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url('/static/img/loader.gif');
      overflow: hidden;
      opacity: 1;

      transition: opacity $animation-easing $animation-time;

      &.drop {
        opacity: 0.5;
      }

      &:hover {
        .mdi.handle,
        .mdi.remove {
          opacity: 1;
        }
      }

      &.done {
        &:after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
        }

        &.remove:after {
          background-image: linear-gradient(
            225deg,
            rgba(0, 0, 0, 0.5) 0%,
            rgba(0, 0, 0, 0.4) 20%,
            rgba(0, 0, 0, 0) 52%
          );
        }

        &.reorder:after {
          background-image: linear-gradient(
            135deg,
            rgba(0, 0, 0, 0.5) 0%,
            rgba(0, 0, 0, 0.4) 20%,
            rgba(0, 0, 0, 0) 52%
          );
        }

        &.reorder.remove:after {
          background-image: linear-gradient(
              135deg,
              rgba(0, 0, 0, 0.5) 0%,
              rgba(0, 0, 0, 0.4) 20%,
              rgba(0, 0, 0, 0) 52%
            ),
            linear-gradient(
              225deg,
              rgba(0, 0, 0, 0.5) 0%,
              rgba(0, 0, 0, 0.4) 20%,
              rgba(0, 0, 0, 0) 52%
            );
        }
      }

      .mdi {
        position: absolute;
        font-size: 1.1rem;
        color: $color-white;
        z-index: 2;

        transition: opacity $animation-easing $animation-time;

        &.handle {
          top: 4px;
          left: 4px;
          opacity: 0.5;
        }

        &.remove {
          top: 4px;
          right: 4px;
          opacity: 0;
          cursor: pointer;
        }
      }

      video {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: black;
      }
    }
  }

  .message {
    display: block;
    position: absolute;
    padding-top: 10%;
    width: 100%;
    text-align: center;
    line-height: 1rem;
    font-family: $font-family-body;
    font-size: 0.7rem;
    color: $color-dimgray;

    .mdi {
      position: absolute;
      margin: 0 0 0 -14px;
      color: $color-primary;
    }
  }
}

#map {
  width: 100%;
  height: 300px;
  border-radius: 3px;
}

input[name='place'] {
  margin: 16px 0;
}

#list {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 120px;
  list-style: none;

  li {
    display: flex;
    align-items: center;
    margin: 0 0 8px 0;
    padding: 16px;
    font-family: $font-family-body;
    background-color: $color-gray;
    border: 2px solid transparent;
    border-radius: 3px;
    user-select: none;
    cursor: pointer;

    box-sizing: border-box;

    transition: border-color $animation-easing $animation-time,
      background-color $animation-easing $animation-time;

    &:hover {
      border-color: $color-dimgray;
    }

    &.selected {
      background-color: $color-primary;
      border-color: $color-primary;

      span,
      p {
        color: $color-white;
      }

      small {
        color: rgba($color-white, 0.75);
      }
    }

    span {
      margin: 0 8px 0 0;
      width: 24px;
      height: 24px;
      line-height: 24px;
      text-align: center;
      font-size: 1.2rem;
      color: $color-primary;
    }

    p {
      margin: 0;
      font-size: 0.9rem;
      font-weight: bold;
      color: $color-dark;
    }

    small {
      font-size: 0.7rem;
      color: $color-dimgray;
    }

    span,
    p,
    small {
      transition: color $animation-easing $animation-time;
    }
  }
}

@media screen and (max-width: 600px) {
  .modal.post,
  .modal.editPost {
    width: 100%;
  }

  .add-react {
    transform: translate(-100px, 75px);
  }
}

.toolbar {
  display: flex;
  justify-content: center;
  flex-flow: row;
  margin-bottom: 32px;

  .tools {
    display: flex;
    width: 450px;
    justify-content: flex-end;

    a {
      text-decoration: none;
    }

    .button-small {
      border-color: $color-dimgray;
    }

    .button-small:hover {
      border-color: $color-primary;
    }
  }
}
