@import 'util';

#wrapper {
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin: 1px;
}

#empty {
  display: flex;
  width: 300px;
}

#profile {
  display: flex;
  flex-flow: column;
  position: sticky;
  top: 32px;
  float: right;
  padding: 32px 0;
  @include shadow;
  align-items: center;
  width: 300px;
  background-color: $color-white;
  font-family: $font-family-body;
  margin: 32px;
  border-radius: 4px;
  overflow: hidden;
  height: fit-content;

  #row {
    display: flex;
    flex-flow: row;
    width: inherit;
    justify-content: center;
  }

  .image {
    margin: 0 0 8px 0;
    width: 56px;
    height: 56px;
    background-size: 100%;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-color: $color-gray;
    background-image: url('/static/img/unknown.png');
  }
  a {
    height: fit-content;
    text-decoration: none;
    color: inherit;
  }

  .edit {
    position: absolute;
    top: 32px;
    right: 32px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
  }

  .follow.button-small {
    position: relative;
    margin: 16px 0 0 0;
    padding: 0 9px 0 (8px + 16px + 1px);
    width: auto;
    background-color: $color-primary;
    border-color: $color-primary;
    border-radius: 24px;
    color: $color-white;

    &.unfollow {
      background-color: transparent;
      border-color: $color-gray;
      color: $color-dark;

      .mdi {
        color: $color-dark;
      }

      &:hover {
        border-color: $color-primary;
      }
    }

    .mdi {
      position: absolute;
      left: 5px;
      color: $color-white;
    }
  }

  .mdi {
    font-size: 0.9rem;
    text-decoration: none;
    color: $color-dark;
  }

  #displayName {
    font-size: 14px;
    font-weight: bold;
    color: $color-dark;
  }
  #username {
    color: $color-dimgray;
    font-size: 12px;
  }
  #bio {
    margin: 16px;
    color: $color-dark;
    font-size: 14px;
    box-shadow: 0 0 1 0 $color-dimgray;
  }

  #followContainer {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    color: $color-dark;
    font-size: 12px;
    font-weight: bold;
    .followCount {
      display: flex;
      justify-content: center;
      margin-top: 8px;
    }
  }

  #collectionContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    color: $color-dark;
    label {
      margin: 8px;
      font-size: 14px;
      font-weight: bold;
      text-decoration: underline;
    }
    #collection {
      font-size: 14px;
      margin-bottom: 4px;
    }
  }
  #addCollection {
    margin-top: 16px;
  }
}

@media screen and (max-width: 1000px) {
  content .left {
    display: flex;
    justify-content: center;
  }

  #profile {
    position: relative;
    margin: 0 0 32px 0;
    width: 450px;
    float: none;
  }
}

@media screen and (max-width: 600px) {
  #profile {
    width: 100%;
    border-radius: 0;
  }
}
