$color-black: #202225;
$color-dark: #4d5357;
$color-dimgray: #aaaeaf;
$color-gray: #e9ebec;
$color-white: #f8f9f9;

$color-primary: #468962;
$color-secondary: #39bf71;
$color-error: #ec556f;

$font-family-header: 'Playfair Display', serif;
$font-family-body: 'Raleway', sans-serif;

$animation-time: 120ms;
$animation-easing: ease-out;

@mixin shadow {
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
}
