<nav>
  <a href="/" class="logo"></a>

  <div class="search">
    <input type="text" name="search" placeholder="🔎 Search for posts, collections & users" />

    <div class="dialog">

    </div>
  </div>

  <div class="profile">
    <div class="image" style="background-image: url(https://api.adorable.io/avatars/48/abott@adorable.png)"></div>
  </div>
</nav>