<nav>
  <a href="/" class="logo"></a>

  <div class="search">
    <input type="text" name="search" placeholder="🔎 Search for #tags, @users & more" />

    <div class="dialog"></div>

    {{#if user}}
    <div class="profile">
      <div class="image" style="background-image: url(/file/{{user.image}}/xs)"></div>
    </div>
    {{/if}}
  </div>

  {{#if user}}
  <div class="profile">
    <div class="image" style="background-image: url(/file/{{user.image}}/xs)"></div>
  </div>
  {{/if}}
</nav>