<nav>
  <div class="logo"></div>

  <div class="search">
    <input type="text" name="search" placeholder="Search for posts, collections & users" />
  </div>

  <div class="profile">
    <div class="image" style="background-image: url(https://api.adorable.io/avatars/48/abott@adorable.png)"></div>
  </div>
</nav>